/* style.css */
.carousel {
    position: relative;
    max-width: 100%; /* Adjusts width to be responsive */
    margin: auto;
    overflow: hidden;
}

.carousel-items div {
    display: none;
    text-align: center;
    padding: 10px; /* Adds some padding */
}

button.prev, button.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 1vw; /* Use viewport width for scalable padding */
    color: white;
    font-weight: bold;
    font-size: calc(10px + 1vw); /* Responsive font size */
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: black; /* Default background color for both buttons */
}

button.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    background-color: #FFBF00; /* Amber color for the 'next' button */
}

button.prev {
    left: 0;
    /* Black color for the 'prev' button is already set by the default style */
}

button:hover {
    background-color: rgba(0,0,0,0.8); /* Adjust as needed for hover effect */
}

/* Media queries for further responsiveness */
@media (max-width: 768px) {
    button.prev, button.next {
        font-size: calc(12px + 2vw); /* Increase font size slightly for smaller screens */
        padding: 2vw; /* Increase padding */
    }
}

@media (max-width: 480px) {
    .carousel-items div {
        padding: 5px; /* Reduces padding for very small screens */
    }
    
    button.prev, button.next {
        margin-top: -15px; /* Adjust button position for smaller screens */
        padding: 4vw; /* Increase padding */
        font-size: calc(14px + 3vw); /* Further increase font size for better readability */
    }
}
